<h1 >Student List</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Mark</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let student of students ">
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.mark}}</td>
      <td (click)="selectStudent(student.id)"  class="btn btn-outline-primary">Edit</td>
    </tr>

  </tbody>
</table>
<app-student-info (throwCurrentMark)="catchMarkStudent($event)" [student]="parentStudent"></app-student-info>


