.model{
    margin: 0 auto;
    width: 800px;
    border: 10px;
    padding: 10px;
    border-color: chartreuse aqua blue blueviolet;
    border-style: solid;
}
.model p{
    border: 3px dotted darkred;
    padding: 10px;
}