<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout::head">
</head>
<body>

<h3>View Product</h3>
<form  th:object="${product}" method="post">
    <div>
        <label>ID:</label>
        <label type="text"  th:text="${product.id}" ></label>

    </div>
    <div>
        <label>Type:</label>
        <label type="text" th:text="${product.name}"></label>
    </div>
    <div>
        <label>Author:</label>
        <label type="text" th:text="${product.price}"></label>
    </div>
    <div>
        <label>Description:</label>
        <label type="text" th:text="${product.description}"></label>
    </div>

    <button><a th:href="@{/product}">Back to home</a></button>
    <button><a th:href="@{/product/order/{id}}">Order</a></button>
</form>


<!--<footer th:replace="layout::footer"></footer>-->
</body>
</html>