<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/service/layout::head">
</head>
<body>

<h3>Form Edit Service</h3>
<form th:action="${'/service/delete/'+service.id}"  th:object="${service}" method="post">
    <div>
        <label>ID:</label>
        <label type="text"  th:text="${service.id}" ></label>

    </div>
    <div>
        <label>Name:</label>
        <label type="text" th:text="${service.name}"></label>
    </div>
    <div>
        <label>Type:</label>
        <label type="text" th:text="${service.serviceType.name}"> </label>
    </div>

    <div>
        <label>E Commerce:</label>
        <label type="text" th:text="${service.address}"></label>
    </div>
    <div>
        <label>E Commerce:</label>
        <label type="text" th:text="${service.phone}"></label>
    </div>
    <button type="submit">Delete</button>
</form>
<button><a th:href="@{/service}">Back to home</a></button>


<!--<footer th:replace="layout::footer"></footer>-->
</body>
</html>