*{
   margin: 0;
    padding: 0;
}
.list_question{
    list-style: none;
    margin-top: 20px;
}
.list_question li{
    padding: 2px  0 5px 15px;
}
.list_question li h4{
    margin-bottom: 5px;
}
.list_question li select{
    width: 50%;
    font-size: 16px;
    margin: 5px 0px;
}
.option_gender{
    margin-bottom: 4px;
}

.option_gender label{
    margin-left: 14px;
    color: #444;
}
.scrip_gender {
    margin-left: 30px;
}
.scrip_gender i{
    margin-left: 10px;
}
.dollar{
    margin-left: 11px;
    margin-right: 56px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

