<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/index::head">
</head>
<body class="container-fluid">

<div th:replace="/home/index::nav">HI</div>
<div th:class="text-center"><h3><strong>Welcome Customer</strong></h3></div>
<p>
</p>
<p style="color: #4CAF50" th:if="${message}" th:text="${message}"></p>
<form action="/customer" method="get" >
    <div class="d-flex align-items-center mb-3 justify-content-between">
        <a class="btn btn-success" th:href="@{/customer/create}">Create new Customer </a>
        <div class="d-flex" >
            <label class="ml-3">Name</label>
            <input  class="ml-3 " th:value="${key_search}" type="text" name="key_search">
            <label class="ml-3">Customer Member</label>
            <select class="ml-3" name="typeId">
                <option  selected disabled hidden>Choose here</option>
                <th:block th:each="type : ${customerTypes}">
                    <option th:value="${type.id}" th:text="${type.name}" >
                    </option>
                </th:block>
            </select>
            <button th:class="ml-3"  class="btn btn-info" type="submit" >Search</button>
        </div>
    </div>

</form>
<!--<form method="post" action="/customer/sort">-->
<!--    <div>-->
<!--        <label>Sort by time release</label>-->
<!--        <input type="submit" th:text="Sort">-->
<!--    </div>-->
<!--</form>-->
<table class="table table-striped" id="entity" th:object="${customers}">
    <thead>
        <tr>
            <th scope="col"> STT:</th>
            <th scope="col"> ID:</th>
            <th scope="col">Name:</th>
            <th scope="col">Type</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">IDCard</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer,customerstart:${customers}">
            <td th:text="${customerstart.index+page.getPageNumber()*page.getPageSize()}"></td>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:if="${customer.gender=='1'}">Male</td>
            <td th:if="${customer.gender=='0'}">Female</td>
            <td th:text="${customer.id_card}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.address}"></td>
            <td ><a class="btn btn-outline-primary" th:href="@{/customer/edit/{id}(id=${customer.getId()})}">Edit</a></td>
            <td ><a  class="btn btn-outline-danger"th:href="@{/customer/delete/{id}(id=${customer.getId()})}">Delete</a></td>
            <td ><a class="btn btn-outline-info" th:href="@{/customer/detail/{id}(id=${customer.getId()})}">Detail</a></td>
        </tr>
    </tbody>
</table>
<!--<div th:text="${key}"></div>-->
<!--<div>-->
<!--    <a th:href="@{'/customer/'(page=${customers.number - 1}, key_search=${key_search},ecomId=${ecomId})}" th:if="${customers.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--    <a th:href="@{'/customer/'(page=${customers.number + 1}, key_search=${key_search},ecomId=${ecomId})}" th:if="${customers.hasNext()}">Next</a>-->
<!--</div>-->

<div>
    <a th:href="@{'/customer/'(page=${customers.number - 1}, key_search=${key_search},typeId=${typeId})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer/'(page=${customers.number + 1}, key_search=${key_search},typeId=${typeId})}" th:if="${customers.hasNext()}">Next</a>
</div>
<footer th:replace="/home/index::footer"></footer>
</body>
</html>