*{
    margin: 0;
    padding: 0;
}
.nav_bar ul{
    background-color: burlywood;
}
.nav_bar ul li{
    display: inline-block;
    color: #f1f1f1;
    width: 120px;
    height: 40px;
    text-align: center;
    justify-content: center;
}
.container{
    display:flex;
}
.main{
    height: 630px;
    width: 1150px;
    margin: 10px;
}
.left{
    width: 180px;
    justify-content: center;
    display: flex;
    background: #EEE;
}

.right{
    flex-grow: 1;
    background: #EEE;
}
}

.footer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
}
.content{
    height: 200px;
    border-bottom: solid 1px;
}